@charset "UTF-8";
.cursor-outer {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;
  border: 1px solid #ff8888;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  background-color: rgba(245, 147, 0, 0);
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform: translate(calc(-50% + 15px), -50%);
  -ms-transform: translate(calc(-50% + 15px), -50%);
  transform: translate(calc(-50% + 15px), -50%);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.cursor-outer.link-hover {
  background-color: transparent;
  width: 3.8rem;
  height: 3.8rem;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background-blend-mode: color-burn;
}

.safari .cursor-outer {
  -webkit-transition: width 0.15s ease-out, height 0.15s ease-out;
  -o-transition: width 0.15s ease-out, height 0.15s ease-out;
  transition: width 0.15s ease-out, height 0.15s ease-out;
}