/* 공통 */
* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

.inner {
    width: 1202px;
    margin: 0 auto;
}
.btn{width: 225px; height: 63px;
 background-color: #e5201a; font-size: 22px; color: #fff; line-height: 63px; text-align: center; font-family: Noto Sans CJK KR; font-weight: bold; transition: all 0.1s;}
a{text-decoration: none; color: inherit;}
.btn:hover{background-color: rgba(0, 0, 0, 0); border: 2px solid #e5201a; transition: all 0.1s; color: #e5201a;}

/* 헤더 */
#header{width: 100%; height: 70px; position: relative; background-color: #fcf3e8; line-height: 70px;}

.logo{float: left;
 padding-left: 63px; padding-top: 10px; line-height: 70px;}
.menu{width: 600px;
height: auto; position: absolute; left: 0; margin: 0 auto; right: 0; transition: all 0.4s;}

.menu>li{width: 150px; color: #000; font-weight: bold; font-size: 17px; font-family: 넥슨Lv1고딕;
    text-align: center; float: left; text-align: center; position: relative;
    z-index: 2; transition: all 0.4s;}

.submenu{background-color: rgba(0, 0, 0, 0.3); position: absolute; 
    top: px; transition: all 0.4s; opacity: 0; font-size: 13px;
    }

.submenu>li{width: 150px; height: 30px; line-height: 30px; padding: 6px 0; color: #333;}
.submenu>li:hover{background-color: rgb(255, 217, 165, 0.7); transition: all 0.4s;}
.menu>li:hover .submenu{opacity: 1;}
.menu>li:hover{color: #e5201a; transition: all 0.4s;}


.menu::after {
    display: block;
    content: "";
    clear: both;
}

.search{float: right; padding-right: 63px;  height: 70px; line-height: 70px;}
.search>li{color: #000; font-weight: bold; font-size: 17px; font-family: 넥슨Lv1고딕; padding-left:20px; float: left;}
.search>li:nth-child(1){padding-top: 5px;}
.search::after {
    display: block;
    content: "";
    clear: both;
}
#header::after {
    display: block;
    content: "";
    clear: both;
}

/* 메인이미지 */
#mainimg{
    width: 100%;
    height: 804px;
    background-image: url(../img/mainimg.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;}
#mainimg>.inner{width: 1202px; 
    height: 804px;
    position: relative; margin: 0 auto;}
#mainimg>.inner>.text_box{width: 954px; height: 432px; position: absolute; padding-top: 195px;}

#mainimg>.inner>.text_box>h2{font-size: 50px; font-weight: normal; padding-bottom: 40px; font-family: 넥슨Lv1고딕;}
#mainimg>.inner>.text_box>p{font-family: Noto Sans CJK KR; color: #6f6860; font-size: 32px; padding-bottom: 160px;}
.main_btn{
    font-family: 넥슨Lv1고딕;
    line-height: 70px;
    text-align: center;
    width: 330px;
    height: 70px;
    font-size: 26px; border: 2px solid #e5201a; transition: all 0.4s;}

.main_btn:hover{background-color: rgba(253, 246, 238, 0.5); transition: all 0.4s;}

/* 콘텐츠 */
.box1{
    width: 100%; height: 795px; position: relative;
    background-image: url(../img/box1_img.jpg); background-position: center center; background-repeat: no-repeat;
    background-size: cover;}
.box1>.text_box{width: 50%; position: absolute; top: 240px; left: 131px;}
.box1>.text_box>div:nth-child(1){padding-bottom: 47px;}
.box1>.text_box>p>span{font-weight: normal;color: #000; font-size: 40px; font-family: 넥슨Lv1고딕; letter-spacing: 0;}
.box1>.text_box>p{font-family: Noto Sans CJK KR; color: #939393; font-size: 33px; font-weight: bold; line-height: 150%; padding-bottom: 50px;}

.box2{width: 100%; height: 804px;}
.box2_left {
    width: 70%;
    height: 804px;
    background-image: url(../img/box2left_img.jpg);
    background-repeat: no-repeat;
    float: left;
    background-position: center center;
    background-size: 100%;
}
.box2_right {
    float: right;
    width: 30%;
    height: 804px;
    background-color: #d2c2e9;
    color: #fff;
}
.box2_right>.text_box {
    width: 100%;
    margin: 0 auto;
}

.box2_right>.text_box>h2>span {
    font-family: 넥슨Lv1고딕;
    padding-top: 245px;
    font-size: 46px;
    padding-bottom: 50px;
    text-align: center;
}
.box2_right>.text_box>h2 {
    font-family: Noto Sans CJK KR;
    padding-top: 245px;
    font-size: 46px;
    padding-bottom: 50px;
    text-align: center;
}

.box2_right>.text_box>p {
    font-family: Noto Sans CJK KR;
    font-size: 25px;
    text-align: center;
    padding-bottom: 66px;
}

.box2_right>.text_box>div{margin: 0 auto;}
.box2::after {
    display: block;
    content: "";
    clear: both;
}

.box3{width: 100%; height: 990px; background-color: #fdf6ee;}

.box3>.inner>h3 {
    color: #ff0100;
    font-size: 37px;
    font-family: Noto Sans CJK KR;
    text-align: center;
    padding-top: 139px;
    padding-bottom: 60px;
}
.box3>.inner>h3>span {
    color: #ff0100;
    font-size: 37px;
    font-family: 넥슨Lv1고딕;
    text-align: center;
    padding-top: 139px;
    padding-bottom: 60px;
}
.box3_imgset>.list {
    width: calc(100% / 3 - 3%);
    height: 623px;
    float: left;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.box3_imgset>.list>.l{width: 100%; height: 430px; position: absolute;
    background-color: rgba(252, 243, 232, 0.7); text-align: center;
    top: 0;  transform: translate(0, -623px);
    transition: all 0.5s; 
    }
    .box3_imgset>.list>.l>p{
        color: #000;
        font-size: 18px;
        padding-top: 28px;
        line-height: 180%;
        font-weight: bold;
        font-family: Noto Sans CJK KR;
        margin-top: 30%;
    }
    .box3_imgset>.list>.l>p>span:nth-child(1){font-family: 넥슨Lv1고딕; font-size: 18px; font-weight: bold; color: #000;}
    .box3_imgset>.list>.l>p>span{color: #838383;}
    
    
    .box3_imgset>.list:hover>.l{transform: translate(0, 0px);
    transition: all 0.5s;}
    .box3_imgset>.list:hover>p{display: none;}


.box3_imgset>.list:nth-child(2){margin-left: 4.5%;}
.box3_imgset>.list:nth-child(3){
    margin-left: 4.5%;}

.box3_imgset::after {
    display: block;
    content: "";
    clear: both;
}
.box3_imgset>.list>p {
    color: #000;
    font-size: 18px;
    padding-top: 28px;
    line-height: 180%;
    font-weight: bold;
    font-family: Noto Sans CJK KR;
}
.box3_imgset>.list>p>span:nth-child(1){font-family: 넥슨Lv1고딕; font-size: 18px; font-weight: bold; color: #000;}

.box3_imgset>.list>p>span{color: #838383;}


.box4{width: 100%; height: 900px; background-color: #ffd9a5;}


.box4_imgset>.list {
    width: calc(100% / 3 - 2%);
    height: 623px;
    float: left;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}
.box4_imgset>.list>.l{width: 100%; height: 330px; position: absolute;
background-color: rgba(252, 243, 232, 0.7); text-align: center;
top: 0;  transform: translate(0, -623px);
transition: all 0.5s; 
}
.box4_imgset>.list>.l>p{
    color: #000;
    font-size: 18px;
    padding-top: 28px;
    line-height: 180%;
    font-weight: bold;
    font-family: Noto Sans CJK KR;
    margin-top: 30%;
}
.box4_imgset>.list>.l>p>span:nth-child(1){font-family: 넥슨Lv1고딕; font-size: 18px; font-weight: bold; color: #000;}
.box4_imgset>.list>.l>p>span{color: #838383;}


.box4_imgset>.list:hover>.l{transform: translate(0, 0px);
transition: all 0.5s;}
.box4_imgset>.list:hover>p{display: none;}


.box4_imgset>.list:nth-child(2){margin-left: 3%;}
.box4_imgset>.list:nth-child(3){
    margin-left: 3%;}

.box4>.inner>h3 {
        color: #fff;
        font-size: 37px;
        font-family: Noto Sans CJK KR;
        text-align: center;
        padding-top: 139px;
        padding-bottom: 60px;
    }
.box4_imgset>.list>p{
        color: #000;
        font-size: 18px;
        padding-top: 28px;
        line-height: 180%;
        font-weight: bold;
        font-family: Noto Sans CJK KR;
    }
.box4_imgset>.list>p>span:nth-child(1){font-family: 넥슨Lv1고딕; font-size: 18px; font-weight: bold; color: #000;}
.box4_imgset>.list>p>span{color: #838383;}

.box4_imgset::after {
    display: block;
    content: "";
    clear: both;
}
.box5{width: 100%; height: 724px; background-color: #c5b9a9;}
.box5>.inner>h3 {
    color: #000;
    font-size: 37px;
    font-family: Noto Sans CJK KR;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 40px;
}
.box5>.inner>h3>span {
    color: #000;
    font-size: 37px;
    font-family: 넥슨Lv1고딕;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 40px;
}

.content_img {
    float: left;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 30px;
}

.content_img>div {
    width: 300px;
    height: 300px;
    background-image: url(../img/box5_img1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 120%;
    border-radius: 50%;
    transition: all 0.4s;
    transform: scale(1);
    
}
.content_img:hover div{transition: all 0.4s;
    transform: scale(1.2);}

.content_text {
    width: 798px;
    height: 217px;
    float: right;
    color: #000;
}

.content_text>h4 {
    color: #000;
    font-size: 35px;
    font-family: 넥슨Lv1고딕;
    font-weight: normal;
    padding-top: 45px;
    padding-bottom: 30px;
}

.content_text>p {
    font-family: Noto Sans CJK KR; color: #6f6860;
    font-size: 22px;
    padding-bottom: 40px;
}
.box5_btn{
    font-family: Noto Sans CJK KR;
    line-height: 59px;
    text-align: center;
    width: 220px;
    height: 55px;
    font-weight: bold;
    font-size: 19px; border: 2px solid #e5201a; transition: all 0.4s;}
    .box5_btn:hover{background-color: rgba(253, 246, 238, 0.5); transition: all 0.4s;}

.box5_contentset::after {
    display: block;
    content: "";
    clear: both;
}


.box6{width: 100%; height: 804px;}
.box6_left {
    width: 70%;
    height: 804px;
    background-image: url(../img/box6left_img.jpg);
    background-repeat: no-repeat;
    float: left;
    background-position: center center;
    background-size: 100%;
}
.box6_right {
    float: right;
    width: 30%;
    height: 804px;
    background-color: #f5989d;
    color: #fff;
}
.box6_right>.text_box {
    width: 100%;
    margin: 0 auto;
}

.box6_right>.text_box>h2 {
    font-family: 넥슨Lv1고딕;
    padding-top: 245px;
    font-weight: normal;
    font-size: 110px;
    padding-bottom: 10px;
    text-align: center;
}

.box6_right>.text_box>p {
    font-family: Noto Sans CJK KR;
    font-size: 36px;
    text-align: center;
    padding-bottom: 80px;
}
.box6_right>.text_box>p>span {
    font-family: 넥슨Lv1고딕;
    font-size: 36px;
    text-align: center;
    padding-bottom: 54px;
}

.box6_right>.text_box>div{margin: 0 auto;}
.box6::after {
    display: block;
    content: "";
    clear: both;
}

.box7 {
    width: 100%;
    height: 512px;
    padding-top: 230px;
}

.sns>li {
    width: calc(100% / 4);
    float: left;
    height: 300px;
    overflow: hidden;
}

.sns::after {
    display: block;
    content: "";
    clear: both;
}

.sns>li>img {
    width: 100%;
    height: 300px;
    transform: scale(1);
    transition: all 0.7s;
}

.sns>li:hover>img{transform: scale(1.2); transition: all 0.7s;}
/* 푸터 */
#footer {
    width: 100%;
    height: 60px;
    background-color: #c5b9a9;
    color: #fff;
    font-size: 11px;
    line-height: 60px;
}